@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    overflow-y: scroll;
}

p {
    @apply text-sm font-light leading-relaxed my-6;
}

h1 {
    @apply text-2xl font-semibold;
}
h2 {
    @apply text-xl font-semibold;
}
h3 {
    @apply text-lg font-semibold;
}
h4 {
    @apply text-base font-semibold;
}
h5 {
    @apply text-base font-semibold;
}
h6 {
    @apply text-base font-semibold;
}

.home-title-absolute {
    @apply pointer-events-none;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) !important;
    mix-blend-mode: difference !important;
}
.home-title {
    @apply text-white text-center  pointer-events-none mt-0;

    font-family: "Damion", cursive;
    font-size: 4rem;
    line-height: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply my-4;
    font-family: "Poppins", sans-serif;
}
p {
    font-family: "Open Sans", sans-serif;
}

.content img {
    @apply my-10 mx-auto;
}

.content a {
    @apply my-2 font-bold;
}

.content {
    @apply mb-2 text-base;
}

.aboutContent h2 {
    @apply font-semibold italic text-5xl mb-16;
}

.aboutContent h3 {
    @apply font-bold text-3xl;
}

.aboutContent p {
    @apply font-thin text-lg lg:text-2xl mb-4;
    line-height: 1.5;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

.difference {
    mix-blend-mode: difference;
}

@keyframes activeCursor {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
    100% {
        transform: scale(5);
        -webkit-transform: scale(5);
        -moz-transform: scale(5);
        -ms-transform: scale(5);
        -o-transform: scale(5);
    }
}

.carousel .control-arrow:before,
.carousel.carousel-slider .control-arrow:before {
    width: 200px !important;
    color: black !important;
    border-top: none !important ;
    border-bottom: none !important ;
}

.carousel .control-next.control-arrow:before {
    border-left: none !important ;
    content: "Next " !important;
}
.carousel .control-prev.control-arrow:before {
    border-right: none !important ;
    content: "Prev" !important;
}

.carousel.carousel-slider .control-arrow:hover {
    background: rgba(0, 0, 0, 0.03) !important;
}

@media only screen and (max-width: 776px) {
    .carousel .control-arrow:before,
    .carousel.carousel-slider .control-arrow:before {
        display: none !important;
    }
}

#headerLink {
    position: relative;
}
#headerLink a:after {
    content: "";
    padding-bottom: 4px;
    display: block;
    border-bottom: 4px solid white;
    width: 0;
    position: absolute;
    left: 0;
    -webkit-transition: 1s ease;
    transition: 0.6s ease;
}

#headerLink a:hover:after {
    width: 100%;
}

#mobile-nav-wrapper {
    padding-top: 8rem;
    background: url("../public/bg-image2.jpg") no-repeat #262626;
    background-size: cover;
    overflow: hidden;
}

footer {
    .logo {
        margin-bottom: 9px;
    }
    ul {
        li {
            &:first-child {
                margin-left: 0;
            }
        }
    }
}

.my-container {
    max-width: 1280px;
    width: 100%;
    &.expand-height {
        min-height: calc(100vh - 451px - 112px);
    }
    &.wider {
        max-width: 1500px;
    }
}

.img-scale {
    transition: transform 0.3s ease-in-out;
    &:focus,
    &:active,
    &:hover {
        transform: scale(1.03);
    }
}

.search-input {
    max-width: 80%;
}

.header-title {
    height: 30vh;
    position: relative;
    > * {
        z-index: 2;
    }
    &:before {
        background-color: black;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.3;
        z-index: 1;
    }
}

@media (min-width: 1024px) {
    footer {
        .bottom-info {
            ul {
                li {
                    &:first-child {
                        margin-left: 0.9em;
                    }
                }
            }
        }
    }
}

@media only screen and (orientation: landscape) and (max-width: 1024px) {
    #mobile-nav-wrapper {
        padding-top: 15%;
        overflow-y: scroll;
    }

    .my-container {
        min-height: 100vh;
    }
}
